__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/
*.db
sbom.cdx.json
.terraform/
*.tfstate
*.tfstate.*
.kubeconfig
crash.log
crash.*.log
report_html.html
report_json.json
report_md.md
.idea/
.vscode/
